body {
    background-color: red   ;
}

form {
    width: 20%;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}